<h1>Categories</h1>

<ng-container *ngIf="!logged">
  <h2>Login form</h2>
  <div>
    <fieldset>
      <label>Username: </label>
      <input type="text" [(ngModel)]="username">
    </fieldset>
    <fieldset>
      <label>Password: </label>
      <input type="password" [(ngModel)]="password">
    </fieldset>
    <button (click)="login()">Login</button>
  </div>
</ng-container>

<ng-container *ngIf="logged">
  <button (click)="logout()">Log out</button>
  <h1>Welcome!</h1>
  <fieldset>
    <label>Category name: </label>
    <input type="text" [(ngModel)]="newCategory">
    <button (click)="addCategory()">Add category</button>
  </fieldset>

  <ul>
    <li *ngFor="let category of categories">
      {{category.id}} - {{category.name}}
      <button (click)="deleteCategory(category.id)">X</button>
    </li>
  </ul>

</ng-container>
